<section class="grid h-screen place-content-center bg-slate-900 text-slate-300">
  <div class="mb-10 text-center text-indigo-400">
    <h1 class="text-3xl font-bold tracking-widest">Change Your Password</h1>
    <p>Please enter a new password below.</p>
  </div>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "flex flex-col items-center justify-center space-y-6" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="w-80">
      <%= f.label :password, "New password", class: "font-bold" %>
      <% if @minimum_password_length %>
        <em class="text-sm">( <%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "New Password", class: "w-full appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" %>
    </div>

    <div class="w-80">
      <%= f.label :password_confirmation, "Confirm new password", class: "font-bold" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm New Password", class: "w-full appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" %>
      <p id="validation" class="text-center text-orange-500 italic text-sm hidden"></p>
    </div>

    <%= f.submit "Change my password", class: "rounded-full bg-indigo-500 p-2 px-4 text-white hover:bg-orange-500" %>
  <% end %>

  <button id="showPw" class="rounded-full bg-indigo-500 p-2 px-4 text-white hover:bg-orange-500"><span id="showHide">Show</span> Password</button>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript">
// Put your JavaScript code here
</script>
